html, body{
    font-family: Montserrat, sans-serif;
    height:100%;
}

.flex-fill {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
}

canvas {
    height: 90vh;
    background: black;
}

#continueGame{
    display: none;
}

img:hover{
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#version {
    -webkit-animation: posun 4s linear 1;
    animation: posun 4s linear 1;
}

@-webkit-keyframes posun {
    0%       { opacity: 0; color: aquamarine }
    25%      { opacity: 0.25; color: blue }
    50%      { opacity: 0.75; color: red }
    100%      { opacity: 1; color: black }
}

@keyframes posun {
    0%       { opacity: 0; color: aquamarine }
    25%      { opacity: 0.25; color: blue }
    50%      { opacity: 0.75; color: red }
    100%      { opacity: 1; color: black }
}